@import url('https://fonts.googleapis.com/css?family=Sunflower:300&display=swap');
* { padding: 0; margin: 0; }


body
{
    color: #fff;
    margin: 0;
    background: #2b2c35;
    /* background-image: url(../pics/background.jpg); 
*/    background-position: center center;
    background-repeat: no-repeat;
    font-family: 'Sunflower', sans-serif;
    text-transform: uppercase;
    letter-spacing: 1px;
}

main { margin: 50px; }

div { padding: 30px 0; }
 
header {
    word-spacing: 2px;
    text-align: justify;
    letter-spacing: 1px;
    height: 3em;
    padding: 2em 10%;
    background: #2e4555;

}
header a { margin-left: 20px; }
header h1, h2, header nav { display: inline-block; }

header::after
{
    content: '';
    display: inline-block;
    width: 100%;
}

@media screen and (max-width: 720px)
{
     
    header
    {
        height: auto;
    }
     
    header > div,
    header > div h1,
    header nav 
    {
        height: auto;
        width: auto;
        display: block;
        text-align: center;
    }
}

.main-menu
{
    position:relative;
    margin:0 auto;
    width:80%;
    height:1200px;
    display: grid;
    grid-gap: 18px;
    overflow: hidden;
    grid-template: repeat(4, 1fr) / repeat(2, 1fr);
    grid-auto-flow: row;
}

.main-menu_item
{
    text-align: center;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    transition: opacity 124ms linear, transform 250ms linear;
}
.m_item-ps { background-image: url(../pics/profseason.jpg); }
.m_item-ps:hover { /*opacity:0.4;*/transform: scale(1.05); }

.m_item-matches { background-image: url(../pics/matches.jpg); }
.m_item-matches:hover { /*opacity:0.4;*/ transform: scale(1.05); }

.m_item-players { background-image: url(../pics/players.jpg); }
.m_item-players:hover { /*opacity:0.4;*/ transform: scale(1.05); }

.m_item-heroes { background-image: url(../pics/heroes.jpeg); }
.m_item-heroes:hover { /*opacity:0.4;*/ transform: scale(1.05); }

.m_item-items { background-image: url(../pics/items.jpg); }
.m_item-items:hover { /*opacity:0.4;*/ transform: scale(1.05); }

.m_item-teams { background-image: url(../pics/teams.jpg); }
.m_item-teams:hover { /*opacity:0.4;*/ transform: scale(1.05); }

form
{
    position: relative;
    width: 650px;
    margin: 0 auto;
}

.link, .link:hover
{
    color: white;
    text-decoration: none;
}

footer
{
    word-spacing: 2px;
    text-align: right;
    height: 2em;
    padding: 2em 10%;
    background: #2e4555;
}
footer a { margin-left: 20px; }
footer nav { display: inline-block; }
footer::after
{
    content: '';
    display: inline-block;
    width: 100%;
}